@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #141414;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-serif: "Palatino Linotype", Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --spacing-default: 40px;

  --color-red-primary: #c1121e;
  --color-red-button: #f9e7e9;
  --color-divider-gray: #d6d6d6;
  --color-divider-red: #e29298;
  --color-text-header: #333333;
  --color-text-primary: #141414;
  --color-text-secondary: #5c5c5c;
  --color-text-red-primary: #cd414b;
  --color-text-red-secondary: var(--color-red-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

hr {
  border-color: var(--color-divider-gray);
}
